/* select semua element */
* {
    box-sizing: border-box;
}
body{
    font-family: 'Spicy Rice';
    background-color:  #1e5874;
    color: wheat;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#container{
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 5);
}
input{
    font-family: inherit;
    font-size: 18px;
    background-color: #f4f4f4;
    width: 100%;
    padding: 13px 13px 13px 20px;
    border: none;
    
}
input:focus{
    outline: none;
}
span{
    height: 60px;
    text-align: center;
    width: 60px;
    float: right;
}
h1{
    background-color: #263238;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
li{
    background-color: #37474f;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 20px;
}
li:nth-child(2n){
    background-color: #455a64;
}
.done{
    color: gray;
    text-decoration: line-through;
}